mixin input__field(id, type, placeholder, style, mask)
        if mask
            input.input__field(class=` ${style ? " input__field_"+style : ""}`, placeholder=placeholder ? placeholder : "", type=type ? type : "text", data-mask=mask)
        else
            input.input__field(class=` ${style ? " input__field_"+style : ""}`, placeholder=placeholder ? placeholder : "", type=type ? type : "text", )